<div class="container">
     <div class="row">
        <div class="col-md-5 col-sm-10 mx-2 mx-sm-auto rounded px-0 my-5">
            <h3><%= @order.customer.last_name %><%= @order.customer.first_name %>さんの会員情報編集</h3>
        </div>
    </div>
</div>