<h3>商品一覧</h3>
<table class="table table-inverse">
    <tbody>
        <% @items.each do |item| %>
            <tr>
                <td>
                    <%= link_to item_path(item.id) do %>
                        <%= image_tag item.image, size: "200x200" %>
                    <% end %>
                    <%= item.name %>
                    ￥<%= item.price %>
                </td>
            </tr>
        <% end %>
    </tbody>
</table>